@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aquí se mostrará la lista de proyectores registrados</p>
    <p>Autor: Jose Miguel Solis Garma </p>
</div>
